<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Smart Service System</title>
    <link rel="stylesheet" href="css/loginstyle.css">
</head>
<body id="body">

    <div id="card">
        <div id="section">
            <img src="logo/logo.png" id="logo" alt="Logo">
            <h2 id="brandname">Smart Service System</h2>
            <p id="tagline">Integrated Solutions for a Smarter World</p>
        </div>

        <form action="../Controller/logincontroller.php" method="POST" id="login-form" aria-placeholder="on" onsubmit="return login();">
            <div id="mgroup">
                <label id="label-num">Mobile No :</label>
                <input type="number" id="num" name="mobilenumber" placeholder="Enter Mobile Number">
            </div>

            <div id="pgroup">
                <label id="labelpass">Password :</label>
                <input type="password" id="pass" name="Password" placeholder="Enter Password">
            </div>

            <input type="submit" id="submit" value="Login">
            </form>
            <div id="footer">
                <p id="signup-text">Don't have an account? <a href="../View/Customer/signup.php" id="signup-link">Sign Up</a> or <a href="forgotpass.php" id="forgot-link">Forgot Password?</a>

                    <!-- JUST ABOUT US ADDED -->
                <p style="margin-top:10px; font-size:14px; font-family: 'Segoe UI', Arial, sans-serif;" >
                    <a href="../View/about_us.html" style="color:#0D8DBD;font-weight:bold;">About Us</a>
                </p>
                <p style=" font-size:12px; color:#777; text-align:center;">
                    © 2026 Smart Service System
                    Developed by <strong>Tanvir & Jerin</strong></p>
            </div>     
    </div>
    
<script src="../View/js/loginvalidation.js"></script>
</body>
</html>